.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 5px 16px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    cursor: pointer;
    outline: none;
}

.light {
    border: 1px solid white;
    color: white;
}