.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 50%;
    min-width: 300px;
    background-color: white;
    height: 200px;
}

.header {
    background-color: rgb(93, 32, 150);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.actions {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}