.cart {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image: url('../../icons/cart-icon-28356.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px 42px;
    position: absolute;
    bottom: 50px;
    right: 60px;
    cursor: pointer;
    transition: all 200ms;
    display: flex;
    justify-content: flex-end;
}

.cart:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    scale: 0.98;
}

.counter {
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}