.btn {
    border: 1px solid rgb(172, 51, 4);
    padding: 4px 14px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(172, 51, 4);
}

.btn:hover {
    border: 1px solid rgb(139, 42, 3);
    background-color: rgba(139, 42, 3, 0.151);;
}