.cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms;
    color: white;
    border: none;
}

.cart:hover {
    scale: 0.98;
    transition: all 300ms;
}