.item {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    cursor: pointer;
}

.item:hover {
    background-color: rgba(227, 225, 225, 0.5);
}