.expense-date {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.expense-date__month {
}

.expense-date__year {
    margin-bottom: 7px;
    font-size: 0.8em;
}

.expense-date__day {
    font-size: 1.4em;
    font-weight: bold;
}